In [5]:
#section 3 list 

new_list=[1,2,3,4]
list=[5,6]
new_list.remove(4)                                 #remove
print(new_list)

[1, 2, 3]

In [6]:
new_list=[123,12,1,3]
new_list.insert(0,"art")                            #insert
print(new_list)

['art', 123, 12, 1, 3]

In [7]:
#section 3 dict

dict={1,2,3,4,5}
dict

{1, 2, 3, 4, 5}

In [8]:
d={'key1':'value1','key2':'value2'}
d

{'key1': 'value1', 'key2': 'value2'}

In [19]:
d={'grahpes':120,'apple':200}

d['grahpes']                                    #grabbingthevalue

120

In [24]:
new_dict={'a':1,'b':2,'c':3}
new_dict['b']

2

In [28]:
new_dict={'key1':'hello','key2':'hai','key3':'hy'}
new_dict['key1']
my_list=new_dict['key1']                         #lowercase to upper case
my_list
my_list.upper()

'HELLO'

In [33]:
new_dict={'key1':'hello','key2':'hai','key3':'hy'}
new_dict['key1'][2].upper()
                                                  #we can also.......upper method

'L'

In [34]:
new_dict={'key1':'HELLO','key2':'hai','key3':'hy'}
new_dict['key1']
my_list=new_dict['key1']                           #uppercase to lowercase
my_list
my_list.lower()

'hello'

In [41]:
d={'key1':'a','key2':'b'}
d['key3']=200
d                                                  #adding items to dict

{'key1': 'a', 'key2': 'b', 'key3': 200}

In [44]:
new_dict={'key1':'HELLO','key2':'hai','key3':'hy'}
new_dict['key2']='new value'                         #inserting 
new_dict

{'key1': 'HELLO', 'key2': 'new value', 'key3': 'hy'}

In [46]:
new_dict={'key1':'income','key2':'tax','key3':'sal'}
new_dict.keys()                                      #acutal keys

dict_keys(['key1', 'key2', 'key3'])

In [47]:
new_dict={'key1':'income','key2':'tax','key3':'sal'}
new_dict.values()                                      #acutal values

dict_values(['income', 'tax', 'sal'])

In [49]:
new_dict={'key1':'income','key2':'tax','key3':'sal'}
new_dict.items()                                      #keys and values

dict_items([('key1', 'income'), ('key2', 'tax'), ('key3', 'sal')])

In [50]:
#section.3 tuples

In [51]:
t=(1,2,3,4,5,6,7,8,9)
t                                                    #tuples

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [53]:
t=(12,22,32,3,2,44)
len(t)                                                #lengthofthetuple

6

In [59]:
t=(12,11,22,33,44,55,66)

t

(12, 11, 22, 33, 44, 55, 66)

In [61]:
t=(88,99,88,666)
t.count(1)                                             #tocount

0

In [62]:
t=(88,99,88,666)
t.count(3)                                             #tocount

0

In [72]:
t=('aaa','bbbb','ccccc','fffff')
t.index('aaa') 
                                                       #index

0

In [73]:
t=('hhhh','tttt')
t.count('hhh')                                          #index

0

In [74]:
#sectin 3 sets

set=()
set

()

In [76]:
my_set=(2)
my_set

2